<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Manggo MusicAward</title>
<link rel=stylesheet href="C:\Users\ITWILL\Desktop\voteMain.css" type="text/css">
</head>
<body>
    <!-- 각 월 선택-->
    <div class="topbar">
        <a class="logo" href="">
         <img src="logo/logo.png" height="40px">
        </a>
        <ul>
            <li><a href="">10월</a></li>
            <li><a href="">11월</a></li>
          </ul>
    </div>
    <!-- 각 월 선택 종료-->  


    <div class="show_Vote_Summary">
        <a>월별 투표 시작</a>

    <!-- 투표 주차 안내-->
    <div class="area">
		<div class="sec-title">
				<h2>
		    		<span class="term_month_no">10</span>
			    	<span class="term_month_text">월</span>
					<span class="term_week_no">4</span>
					<span class="term_week_text">주차</span>
					<p>Manggo 인기상 투표시작</p>
				</h2>
		</div>
    </div>    
    <!-- 투표 주차 안내 종료-->


    <!-- 남은 시간 안내 __>  js로 날짜 카운트 구현할 예정-->
    
    <div class="area">
		<div class="row-voteinfo-area">
				<div class="col-closing-time">
					<a>남은시간</a>
					<div>
                        <span class="num-wrap">
                            <span class="num0">0</span>
                            <span class="num4">4</span>
                        </span>
                        <span class="txt-day">일</span>
                        <span class="num-wrap">
                            <span class="num0">0</span>
                            <span class="num7">7</span>
                        </span>
                        <span class="txt-clock">시간</span>
                        <span class="num-wrap">
                            <span class="num5">5</span>
                            <span class="num4">4</span>
                        </span>
                        <span class="txt-clock">분</span>
                        <span class="num-wrap">
                            <span class="num3">3</span>
                            <span class="num8">8</span>
                        </span>
                    </div>
				</div>

				<div class="col-participate">
					<div class="voteTot">
				    	<a>투표수</a>
                           <span class="n2">2</span>
                           <span class="n0">0</span>
                           <span class="n7">7</span>
                           <span class="nc">,</span>
                           <span class="n0">0</span>
                           <span class="n4">4</span>
                           <span class="n1">1</span>
                    </div>
				</div>					
		</div>
	</div>
    <!-- 남은 시간 안내 __>  js로 날짜 카운트 구현할 예정-->
 </div>

<!-- 1위 2위 배틀 -->
<div class="battle">
    <div class="battle_img_left">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_left_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>
    </div>
    <h3 class="or">OR</h3>
    <div class="battle_img_right">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/25/987/725987_20230927151422_500.jpg">
        <h3 class="battle_right_name">정국</h3>
        <button class="choose-btn">투표하기</button>
    </div>
</div>

<!-- 1위 2위 배틀종료-->



<!-- 1위~20위 시작-->
<div class="battle_list">

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h3 class="battle_1st_name">임영웅</h3>
        <button class="choose-btn">투표하기</button>    
    </div>

</div>

<!-- 1위~20위 종료-->

</body>
</html>