.music_List {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열, 각 열은 같은 너비 */
    grid-template-rows: auto; /* 행 높이 자동 조절 */
    gap: 10px; /* 열과 행 사이의 간격 조절 */
}

/*/////////////////////////GOODS LIST/////////////////////////*/
/* 기존 스타일 수정 */
.celebrity-items .ceb-item {
    /* 기존 스타일 */
}

/* 3개씩 나열하도록 그룹화하는 스타일 */
.celebrity-items .ceb-item-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 그룹의 마지막에 적용되는 스타일 */
.celebrity-items .ceb-item-group-end {
    width: calc(30% - 10px); /* 3개씩 나열, 간격을 조절 */
    margin-right: 1px; /* 오른쪽 여백 조절 */
}
/*//////////////////////////////////////////////////////////////////*/