body {
	background-color: #F2F2F2;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

/* <!-- 베스트상 시작 --> */
#bestAward_Title {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
}


#vote_bestAward {
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-row-gap: 100px;
	grid-column-gap: 100px;
	justify-content: center;
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 300px;
	margin-top: 50px;
}


#vote_bestAward_Artist img {
	border-radius: 100%;
	width: 300px;
	text-align: center;
}
