<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head><!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div th:insert="~{header :: headerFragment}">
	</div>

	<div class="page-single">
		<div class="container">
			<div class="row">

				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="blog-detail-ct">
						<div class="flex-it share-tag">
						</div>
						<h1 th:text="${board.boardTitle}">title</h1>
						<span class="time" th:text="${board.createdTime}">27 Mar2017</span>

						<div id="boardId" th:text="${board.boardId}" style="display: none;">게시글 ID</div>

						<p th:text="${board.boardContent}" style="margin-top: 50px;">
						<div class="flex-it share-tag">
						</div>
						<div class="comments"></div>
						<div class="comment-form">
							<div class="dropdown-container">
								<form action="">
									<input class="submit" type="submit" placeholder="submit" value="수정하기"
										style="margin-left:250px;">

									<input class="submit" type="submit" value="삭제하기" style="margin-left: 50px;"
										id="deleteButton">

									</for>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="sidebar">
						<div class="sb-cate sb-it"></div>
						<div class="sb-recentpost sb-it"></div>
						<div class="sb-tags sb-it"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="~{footer :: footerFragment}">
	</div>

	<script src="js/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>
<script>



	$(document).ready(function () {
		// 게시물 ID를 쿼리 매개변수로부터 가져오기
		var urlParams = new URLSearchParams(window.location.search);
		var boardId = urlParams.get("boardId");
		var boardId = parseInt(boardId, 10); // 문자열을 10진수 long으로 변환


		console.log(boardId)
		console.log(typeof boardId)

		$("#deleteButton").on("click", function () {
			$.ajax({
				type: "DELETE",
				url: "/2023-05-JAVA-DEVELOPER-final-project-team1-mango/board_detail/" + boardId,
				success: function () {
					alert("게시글이 삭제되었습니다.");
					window.location.href = "/2023-05-JAVA-DEVELOPER-final-project-team1-mango/notification"; 
				},
				error: function () {
					alert("게시글 삭제에 실패했습니다.");
				}
			});
		});
	});



</script>


</html>