<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org">

<head><!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body><!--preloading-->
	<div th:insert="~{header :: headerFragment}">
	</div>
	<div class="page-single userfav_list" style="color: aliceblue;" >
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img"><img src="images/uploads/cart_logo2.png" alt="">
							<p style="font-size: 20px;">장바구니</p>
							<br></a></a>
						</div>

						<!--						<div class="user-fav">
							<p>Account Details</p>
							<ul>
								<li><a href="userprofile.html">Profile</a></li>
								<li class="active"><a href="userfavoritelist.html">Favorite movies</a></li>
								<li><a href="userrate.html">Rated movies</a></li>
							</ul>
						</div>-->

					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="topbar-filter user" style="display: flex; justify-content: flex-end;">
						<p style="font-size: 17px;">01.옵션선택 > <span style="font-size: 23px;">02.장바구니 > </span> 03.주문하기 >
							04.주문완료 </p>
					</div>
					<div class="flex-wrap-movielist user-fav-list">




						<div class="flex-wrap-movielist user-fav-list">
							<div th:each="cartItem : ${cartItems}" class="movie-item-style-2">
								<img src="images/uploads/cart_1.jpg" alt="" style="width: 181px; height: 278px;">
								<div th:each="product : ${products}" th:if="${product.productNo == cartItem.productId}" class="mv-item-infor">
									<ul>
										<li>
											<span th:text="${cartItem.cartItemId}"></span>
										</li>
										<li>
											<h6><a href="#" th:text="${cartItem.cartId}"></a></h6>
											<h6><a href="#">수량: <span th:text="${cartItem.cartItemQty}"></span></a></h6>
											</h6>
											<h6><a href="#" th:text="${cartItem.productId}"></a>
											</h6>
												<span th:text="${product.productName}"></span>
											</h6>
										</li>
										<li class="rate">
											<i class="ion-android-star"></i><span>7.0</span>/10
										</li>
										<li class="describe" th:text = "${product.productContent}">
											
										</li>
										<li class="run-time">
											Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May
												2015</span>
										</li>
										<li>
											<a href="#">주문하기</a>
											<a href="#">삭제하기</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div
							style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: rgb(251, 185, 136); color: black; text-align: right; padding: 5px 10px; border-radius: 10px;">
							<span id="totalPrice" style="margin-right: 10px; font-size: 18px;">총 금액: 0원</span>
							<button
								style="background-color: #fff; color:black; border: none; padding: 5px 10px; font-size: 18px; margin-right: 10%; width: 20%; border-radius: 10px;">주문하기</button>
						</div>

						<!-- 스크롤 이벤트를 감지하여 버튼을 항상 보이게 하는 JavaScript 코드 -->
						<script>
							window.addEventListener('scroll', function () {
								var button = document.querySelector('.fixed-button');
								button.style.display = 'block';
							});
						</script>



						<!--						<div class="cart-items">
							<div class="mv-item-infor">
								<div th:each="cartItem : ${cartItems}"> <img src="images/uploads/cart_1.jpg" alt="">

									<ul>
										<span th:text="${cartItem.cartItemId}"></span>
								</div>
								</ul>
							</div>
						</div>-->

					</div>
					<div class="topbar-filter"><label>Movies per page:</label><select>
							<option value="range">5 Movies</option>
							<option value="saab">10 Movies</option>
						</select>
						<div class="pagination2"><span>Page 1 of 2:</span><a class="active" href="#">1</a><a
								href="#">2</a><a href="#">3</a><a href="#">...</a><a href="#">78</a><a href="#">79</a><a
								href="#"><i class="ion-arrow-right-b"></i></a></div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer section-->
	<div th:insert="~{footer :: footerFragment}">
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>