<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="menuFragment">

	<nav class="navbar navbar-default navbar-custom">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header logo">
			<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
					class="sr-only">Toggle navigation</span>
				<div id="nav-icon1"><span></span><span></span><span></span></div>
			</div><a href="index"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
		</div><!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav flex-child-menu menu-left">
				<li class="hidden"><a href="#page-top"></a></li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">Home <i
							class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">
						<li><a href="index">mango music</a></li>

					</ul>
				</li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
						data-hover="dropdown"> 멜론차트<i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">

						<li><a href="product_music_list">TOP100</a></li>
						<li><a href="product_music_list">최신음악</a></li>
						<li><a href="product_music_list">장르음악</a></li>
					</ul>
				</li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
						data-hover="dropdown"> shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">

						<li><a href="product_ticket_list">망고티켓</a></li>
						<li><a href="product_goods_list">망고굿즈</a></li>
						<li><a href="product_membership_detail">멤버쉽</a></li>
					</ul>
				</li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
						data-hover="dropdown"> 뮤직어워드 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">
						<li><a href="productVote">뮤직어워드</a></li>
					</ul>
				</li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
						data-hover="dropdown"> 게시판 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">
						<li><a href="board_notification">공지사항</a></li>
						<li><a href="board_faq">FAQ</a></li>
						<li><a href="board_magazine">magazine</a></li>
						<li><a href="board_inquiries">1대1문의</a></li>
						<li><a href="board_event">이벤트</a></li>
						<li><a href="board_map">찾아오는길..</a></li>
					</ul>
				</li>
				<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
						data-hover="dropdown"> 결제 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu level1">
						<li><a href="order_membership">멤버십결제</a></li>
						<li><a href="order_ticket">티켓결제</a></li>
						<li><a href="order_history">주문내역</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav flex-child-menu menu-right" th:if="${session.userNo}==null">
				<li>
					<a href="user_info_form" th:text='${session.userName+"님"}'></a>
				<li><span>/</span></li>
				<li class="btn signupLink">
					<a href="user_login_form" id="loginbutton">로그인</a>
				</li>
				</li>
			</ul>
			<ul class="nav navbar-nav flex-child-menu menu-right" th:if="${session.userNo}!=null">
				<li class="btn signupLink">
					<a href="index" th:text='${session.userName+"님"}'>//</a>
				<li><span>/</span></li>
				<a href="index" id="loginbutton">로그아웃</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav><!-- top search form -->

	<script type="text/javascript">
		document.getElementById("loginbutton").addEventListener("click", function () {
			redirectToLoginForm();
		});

		function redirectToLoginForm() {
			window.location.href = "user_login_form";
		}
	</script>


	<!--// 여기부터는 로그인 후 처리
		// 예: 로그인 버튼을 로그아웃으로 변경
		function setLogoutButton() {
			var loginButton = document.getElementById("loginbutton");
			if (loginButton) {
				loginButton.innerText = "로그아웃";
				loginButton.removeEventListener("click", redirectToLoginForm);
				// 로그아웃 버튼을 클릭했을 때 로그아웃 처리를 수행하도록 이벤트 추가
				loginButton.addEventListener("click", performLogout);
			}
		}

		// 로그아웃 처리를 수행할 함수
		function performLogout() {
			// 로그아웃 처리를 수행하고, 세션을 클리어하거나 필요한 작업을 수행하세요
			// 예: fetch를 사용하여 서버로 로그아웃 요청 등
			// 여기에서는 간단하게 로그아웃 후 로그인 페이지로 이동하는 것으로 가정
			// JavaScript를 통해 user_logout_action을 호출하여 로그아웃 처리
			fetch('/2023-05-JAVA-DEVELOPER-final-project-team1-mango/user_logout_action')
				.then(function (response) {
					if (response.redirected) {
						window.location.href = "index"; // 리디렉션
					} else {
						alert('로그아웃에 실패했습니다.');
					}
				})
				.catch(function (error) {
					console.error('에러:', error);
				});
		}

		// 로그아웃 후 로그인 버튼으로 변경
		function setLoginButton() {
			var loginButton = document.getElementById("loginbutton");
			if (loginButton) {
				loginButton.innerText = "로그인";
				loginButton.removeEventListener("click", performLogout);
				loginButton.addEventListener("click", redirectToLoginForm);
			}
		}

		// 초기 로그인 상태에 따라 버튼 설정
		if (document.getElementById("loginbutton").innerText === '로그아웃') {
			setLoginButton();
		} else {
			setLogoutButton();
		}

	</script>-->
</body>