<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body th:fragment="headerFragment">

	<div id="preloader" ><img class="logo" src="images/logo1.png" alt="" width="119" height="58">
		<div id="status"><span></span><span></span></div>
	</div><!--end of preloading--><!--login form popup-->
	<div class="login-wrapper" id="login-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>Login</h3>
			<form method="post" action="login.php">
				<div class="row"><label for="username">Username:<input type="text" name="username" id="username"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="password"> Password:<input type="password" name="password" id="password"
							placeholder="******"
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row">
					<div class="remember">
						<div><input type="checkbox" name="remember" value="Remember me"><span>Remember me</span></div><a
							href="#">Forget password ?</a>
					</div>
				</div>
				<div class="row"><button type="submit">Login</button></div>
			</form>
			<div class="row">
				<p>Or via social</p>
				<div class="social-btn-2"><a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a><a
						class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a></div>
			</div>
		</div>
	</div><!--end of login form popup--><!--signup form popup-->
	<div class="login-wrapper" id="signup-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>sign up</h3>
			<form method="post" action="signup.php">
				<div class="row"><label for="username-2">Username:<input type="text" name="username" id="username-2"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="email-2"> your email:<input type="password" name="email" id="email-2"
							placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="password-2"> Password:<input type="password" name="password"
							id="password-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="repassword-2"> re-type Password:<input type="password" name="password"
							id="repassword-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><button type="submit">sign up</button></div>
			</form>
		</div>
	</div><!--end of signup form popup--><!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
							class="sr-only">Toggle navigation</span>
						<div id="nav-icon1"><span></span><span></span><span></span></div>
					</div><a href="index"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden"><a href="#page-top"></a></li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1"
								data-toggle="dropdown">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="index">mango music</a></li>

							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 멜론차트<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">

								<li><a href="music_list.html">TOP100</a></li>
								<li><a href="music_list.html">최신음악</a></li>
								<li><a href="music_list.html">장르음악</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">

								<li><a href="ticket_list.html">망고티켓</a></li>
								<li><a href="goods_list.html">망고굿즈</a></li>
								<li><a href="membership_detail.html">멤버쉽</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 뮤직어워드 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="voteMain">뮤직어워드</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 게시판 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="notification">공지사항</a></li>
								<li><a href="faq">FAQ</a></li>
								<li><a href="magazine">magazine</a></li>
								<li><a href="inquiries">1대1문의</a></li>
								<li><a href="event">이벤트</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">

						<li class="btn signupLink"><a href="#">로그인</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav><!-- top search form -->

	</header><!-- END | Header -->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>TEXT AREA</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
				
</body>


</html>