<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org">

<head><!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body><!--preloading-->
	<div th:insert="~{header :: headerFragment}">
	</div>


	<div class="page-single">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p class="pad-change"
							th:text="${inquiries[0].getUser().getUserName + '님의 문의사항은 ' + inquiries.size() + '개입니다'}">
							userName님의 문의 총 <span>N</span> 개 입니다</p>
						<label>Sort by:</label>
						<select>
							<option value="popularity">최신순</option>
							<option value="popularity">오래된순</option>
						</select>
					</div>


					<div class="row">
						<div class="row">
							<div th:each="inquiries, iterStat : *{inquiries}" th:if="${iterStat.index lt 6}">

								<div class="col-md-12">
									<div class="ceb-item-style-2"><img src="images/uploads/물음표.png" alt="">
										<div class="ceb-infor">
											<h2>
												<a href="celebritysingle.html" th:text="${inquiries.boardTitle}">로그인</a>
											</h2>
											<p th:text="${inquiries.createdTime}">회원가입했는데 로그인이안되요...</p>
											<p th:text="${inquiries.boardType.boardTypeTitle}">회원가입했는데 로그인이안되요...</p>
											<span th:text="${inquiries.boardContent}"> 답변완료 </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					</div>
					<ul class="pagination">
						<li class="icon-prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="icon-next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
					</ul>
				</div>
				
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="sidebar">
						<div class="sb-search sb-it">
							<h4 class="sb-title">Search Title</h4><input type="text" placeholder="Enter keywords">
						</div>

						<!--userId가 admin일때 보이기 -->
						<div class="searh-form">
							<form class="form-style-1 celebrity-form" action="#">
								<div class="row">
									<div class="col-md-12 "><input class="submit" type="submit" value="작성하기">
									</div>
								</div>
							</form>



						</div>
				</div>
				</div>
				</div>
			</div>
		</div><!-- end of celebrity list section--><!-- footer section-->
		<div th:insert="~{footer :: footerFragment}">
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/plugins2.js"></script>
		<script src="js/custom.js"></script>
</body>

</html>