<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<html xmlns:th="http://www.thymeleaf.org">

<head><!-- Basic need -->
	<title>Mango</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body><!--preloading-->
	<div id="preloader"><img class="logo" src="images/mango_logo2.png" alt="" width="119" height="58">
		<div id="status"><span></span><span></span></div>
	</div><!--end of preloading--><!--login form popup-->
	<div class="login-wrapper" id="login-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>Login</h3>
			<form method="post" action="login.php">
				<div class="row"><label for="username">Username:<input type="text" name="username" id="username"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="password"> Password:<input type="password" name="password" id="password"
							placeholder="******"
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row">
					<div class="remember">
						<div><input type="checkbox" name="remember" value="Remember me"><span>Remember me</span></div><a
							href="#">Forget password ?</a>
					</div>
				</div>
				<div class="row"><button type="submit">Login</button></div>
			</form>
			<div class="row">
				<p>Or via social</p>
				<div class="social-btn-2"><a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a><a
						class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a></div>
			</div>
		</div>
	</div><!--end of login form popup--><!--signup form popup-->
	<div class="login-wrapper" id="signup-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>sign up</h3>
			<form method="post" action="signup.php">
				<div class="row"><label for="username-2">Username:<input type="text" name="username" id="username-2"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="email-2"> your email:<input type="password" name="email" id="email-2"
							placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="password-2"> Password:<input type="password" name="password"
							id="password-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="repassword-2"> re-type Password:<input type="password" name="password"
							id="repassword-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><button type="submit">sign up</button></div>
			</form>
		</div>
	</div><!--end of signup form popup--><!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
							class="sr-only">Toggle navigation</span>
						<div id="nav-icon1"><span></span><span></span><span></span></div>
					</div><a href="index"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden"><a href="#page-top"></a></li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1"
								data-toggle="dropdown">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="index">mango music</a></li>

							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 멜론차트<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="moviesingle.html">TOP100</a></li>
								<li><a href="movielist.html">최신음악</a></li>
								<li><a href="moviesingle.html">장르음악</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">

								<li><a href="moviesingle.html">망고티켓</a></li>
								<li><a href="movielist.html">망고굿즈</a></li>
								<li><a href="moviesingle.html">멤버십</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 뮤직어워드 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist.html">뮤직어워드</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 게시판 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="notification">공지사항</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="magazine">magazine</a></li>
								<li><a href="#">1대1문의</a></li>
								<li><a href="event">이벤트</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 결제 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="order_membership">멤버십결제</a></li>
								<li><a href="order_ticket">티켓결제</a></li>
								<li><a href="order_history">주문내역</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">

						<li class="btn signupLink"><a href="#">sign up</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav><!-- top search form -->
			<div class="top-search"><select>
					<option value="united">music</option>
					<option value="saab">Others</option>
				</select><input type="text"
					placeholder="Search for a music, concert or celebrity that you are looking for"></div>
		</div>
	</header><!-- END | Header -->
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>멤버십 결제</h1>
						<ul class="breadcumb">
							<li class="active"><a href="index">Home</a></li>
							<li><span class="ion-ios-arrow-right"></span><a href="order_membership">Order Membership
									Page</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p th:text="${user_id} + ' 님이 선택하신 '+${membershipName}+' 입니다.'"></p>
                </div>
                <div class="movie-item-style-2">
                    <img th:src="@{'images/' + ${membershipImage}}" alt="">
                    <div class="mv-item-infor">
                        <h6><a href="membership_detail" th:text="${membershipName}">멤버십명<span>(2023)</span></a></h6>
                        <p class="describe" th:text="${membershipContent}">
                            망고 뮤직의 세계로 당신을 초대합니다.
                            망고 뮤직이 제공하는 멤버십으로 현실에서의 모든 스트레스를 뒤로한 채 음악의 세계로 빠져보세요. 음악은 우리의 더 나은 동반자입니다. 멤버십으로 무제한 음악을
                            즐기며, 소리 없이도 마음을 전달하는 그 감동을 느껴보세요. 더 많은 음악과 더 많은 경험을 위해 멤버십을 시작해보세요!
                        </p>
                        <p class="run-time" th:text="'시작일: '+${membershipStartPeriod}+' 유효기간: '+${membershipPeriodOfUse}+'일'"><span></span></p>
                    </div>
				</div>
				<div class="topbar-filter">
				</div>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div>
							<p style="margin-bottom: 10px; font-weight: bold; font-size: 22px;">유의사항</p>
							<p style="margin-top: 10px; margin-bottom: 10px; font-weight: bold;">멤버십</p>
							<span class="text-blue">사용 기간이 만료된 쿠폰은 할인에 적용되지 않습니다.<br></span>
							<span class="text-blue">하나의 멤버십 결제당 하나의 쿠폰만 사용하실 수 있습니다.<br></span>
							<span class="text-blue">권리자의 판단에 따라 일부 음원은 재생이 제한될 수 있습니다.<br></span>
						</div>
						<div>
							<p style="margin-top: 10px; margin-bottom: 10px; font-weight: bold;">결제 및 해지</p>
							<span class="text-blue">구매와 동시에 선불로 과금되며, 부가세 10%는 별도입니다.<br></span>
							<span class="text-blue">결제 시 SMS 등을 통한 별도의 거래 내역 통지는 생략됩니다.<br></span>
							<span class="text-blue">구매하신 멤버십의 결제 내역 조회, 해지는 [망고 웹사이트 &gt; 결제 &gt; 주문 내역]에서 할 수 있습니다.<br></span>
							<span class="text-blue">멤버십 환불 신청은 망고 고객센터(1577-1234)로 전화하거나,<br> [망고 웹사이트 &gt; 게시판 &gt; 1:1 문의]에서 할 수 있습니다.</span>
						</div>
					</div>
			</div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">결제상세</h4>
                        <form class="form-style-1" action="#">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>멤버십명</label>
                                    <input type="text" th:placeholder="${membershipName}">
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>쿠폰선택</label>
                                    <div class="group-ip">
									<select name="skills" class="ui fluid dropdown" id="couponSelect">
										<option value="">쿠폰을 선택하세요</option>
										<option value="Action1" th:each="couponDto : ${couponDtoList}" th:text="${couponDto.couponName}"
											th:value="${couponDto.couponDiscount}">
										</option>
									</select>
                                    </div>
                                </div>
								<div class="col-md-12 form-it">
									<div class="row">
										<div class="col-md-6">
											<label>상품금액</label>
											<input type="text" id="formattedOrderPrice" th:placeholder="${formattedOrderPrice}+'원'">
										</div>
										<div class="col-md-6">
											<label>할인</label>
											<input type="text" id="discountInput" th:placeholder="${discount} + ' %'">
										</div>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>총 결제금액(VAT 별도)</label>
									<input type="text" id="endPrice" th:placeholder="${endPrice}+'원'">
								</div>
                                <div class="col-md-12 form-it" style="display: flex; align-items: center; margin-bottom: 5px;">
                                    <input type="checkbox" id="termsAgree1" name="termsAgree1"
                                        style="width: 16px; height: 16px; margin-right: 10px; margin-bottom: 0;">
                                    <label for="termsAgree1" style="margin-bottom: 0;">유의사항을 확인하였습니다.</label>
                                </div>
                                <div class="col-md-12 form-it" style="display: flex; align-items: center; margin-bottom: 5px;">
                                    <input type="checkbox" id="termsAgree2" name="termsAgree2"
                                        style="width: 16px; height: 16px; margin-right: 10px; margin-bottom: 0;">
                                    <label for="termsAgree2" style="margin-bottom: 0;">이용약관을 확인하였습니다.</label>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="결제하기">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- footer section-->
	<footer class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1"><a href="index.html"><img class="logo" src="images/logo1.png"
							alt=""></a>
					<p>5th Avenue st, manhattan<br> New York, NY 10001</p>
					<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Blockbuster</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Legal</h4>
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Account</h4>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Watchlist</a></li>
						<li><a href="#">Collections</a></li>
						<li><a href="#">User Guide</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Newsletter</h4>
					<p>Subscribe to our newsletter system now <br>to get latest news from us.</p>
					<form action="#"><input type="text" placeholder="Enter your email..."></form><a href="#"
						class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p>© 2017 Blockbuster. All Rights <a href="http://www.bootstrapmb.com/"
						title="bootstrapmb">Reserved</a>. Designed by leehari.</p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</footer><!-- end of footer section-->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

<!--ajax 시도-->
<script>

	/*결제하기 버튼 누를시 이용약관, 유의사항 체크박스에 체크가 되어있는지 모니터링 하는 함수*/
	
	const checkbox1 = document.getElementById("termsAgree1");
	const checkbox2 = document.getElementById("termsAgree2");
	const submitButton = document.querySelector(".submit");

	checkbox1.addEventListener("change", checkAndWarn);
	checkbox2.addEventListener("change", checkAndWarn);
	submitButton.addEventListener("click", checkAndWarn);

	function checkAndWarn() {
		if (submitButton === document.activeElement) {
			if (!checkbox1.checked && !checkbox2.checked) {
				alert("유의사항과 이용약관을 확인해주세요.");
			} else if (!checkbox1.checked) {
				alert("유의사항을 확인해주세요.");
			} else if (!checkbox2.checked) {
				alert("이용약관을 확인해주세요.");
			}
		}
	}

	
	/*
	
	//쿠폰 선택시 쿠폰 id값을 받아와서 쿠폰 해당 할인율 반환 (ajax) 아직
    document.getElementById('couponSelect').addEventListener('change', function() {
        var selectedCouponValue = this.value;

        // Ajax 요청을 보내서 선택한 쿠폰의 할인율을 가져옴
        $.ajax({
            type: 'GET',
            url: '/coupon/coupon/?couponId=' + selectedCouponValue,
            success: function(data) {
                // Ajax 요청 성공 시 할인율 업데이트
                var discountInput = document.getElementById('discountInput');
                discountInput.placeholder = data.discount + ' %';
            },
            error: function() {
                // Ajax 요청 실패 처리
                console.log('Ajax 요청 실패');
            }
        });
    });
    
	*/
	
	
	
	/*쿠폰 선택시 쿠폰 value 값을 받아와서 아래 바에서 쿠폰 해당 value 반환 (Javascript) 성공*/
	
	document.getElementById('couponSelect').addEventListener('change', function() {
     
    var selectedCouponDiscount = parseFloat(this.value); // 선택한 쿠폰의 할인율을 가져옴

    // 소수점 아래 자릿수를 절사
    selectedCouponDiscount = selectedCouponDiscount.toFixed(0);

    // 할인율을 플레이스홀더로 업데이트
    var discountInput = document.getElementById('discountInput');
    discountInput.placeholder = selectedCouponDiscount + ' %';
	});
	
	
	/*선택된 쿠폰 할인율을 받아서 총금액에 할인 반영해서 최종금액 돌려주기 (Javascript) 성공*/
	
	var originalPrice = parseFloat(document.getElementById('formattedOrderPrice').placeholder); // 오리지널 가격 가져오기
	var currentDiscountedPrice = originalPrice; // 현재 쿠폰 할인된 가격

	document.getElementById('couponSelect').addEventListener('change', function () {
		// 선택한 쿠폰의 할인율을 가져옴
		var selectedCouponValue = parseFloat(this.value);

		// endPriceElement 정의
		var endPriceElement = document.getElementById('endPrice');

		// 현재 쿠폰 할인을 초기화
		currentDiscountedPrice = originalPrice;

		// 새로운 쿠폰 할인을 계산
		var discountPercentage = selectedCouponValue / 100;
		currentDiscountedPrice = currentDiscountedPrice * (1 - discountPercentage);

		// endPrice 업데이트
		endPriceElement.placeholder = currentDiscountedPrice.toFixed(0) + ' 원'; // 총 결제금액 업데이트
	});



</script>



</html>