<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<html xmlns:th="http://www.thymeleaf.org">

<head><!-- Basic need -->
	<title>Mango</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body><!--preloading-->
	<div id="preloader"><img class="logo" src="images/mango_logo2.png" alt="" width="119" height="58">
		<div id="status"><span></span><span></span></div>
	</div><!--end of preloading--><!--login form popup-->
	<div class="login-wrapper" id="login-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>Login</h3>
			<form method="post" action="login.php">
				<div class="row"><label for="username">Username:<input type="text" name="username" id="username"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="password"> Password:<input type="password" name="password" id="password"
							placeholder="******"
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row">
					<div class="remember">
						<div><input type="checkbox" name="remember" value="Remember me"><span>Remember me</span></div><a
							href="#">Forget password ?</a>
					</div>
				</div>
				<div class="row"><button type="submit">Login</button></div>
			</form>
			<div class="row">
				<p>Or via social</p>
				<div class="social-btn-2"><a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a><a
						class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a></div>
			</div>
		</div>
	</div><!--end of login form popup--><!--signup form popup-->
	<div class="login-wrapper" id="signup-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>sign up</h3>
			<form method="post" action="signup.php">
				<div class="row"><label for="username-2">Username:<input type="text" name="username" id="username-2"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="email-2"> your email:<input type="password" name="email" id="email-2"
							placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="password-2"> Password:<input type="password" name="password"
							id="password-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="repassword-2"> re-type Password:<input type="password" name="password"
							id="repassword-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><button type="submit">sign up</button></div>
			</form>
		</div>
	</div><!--end of signup form popup--><!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
							class="sr-only">Toggle navigation</span>
						<div id="nav-icon1"><span></span><span></span><span></span></div>
					</div><a href="index"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden"><a href="#page-top"></a></li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1"
								data-toggle="dropdown">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="index">mango music</a></li>

							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 멜론차트<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="moviesingle.html">TOP100</a></li>
								<li><a href="movielist.html">최신음악</a></li>
								<li><a href="moviesingle.html">장르음악</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">

								<li><a href="moviesingle.html">망고티켓</a></li>
								<li><a href="movielist.html">망고굿즈</a></li>
								<li><a href="moviesingle.html">멤버쉽</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 뮤직어워드 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist.html">뮤직어워드</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 게시판 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="notification">공지사항</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="magazine">magazine</a></li>
								<li><a href="#">1대1문의</a></li>
								<li><a href="event">이벤트</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 결제 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="order_membership">멤버쉽결제</a></li>
								<li><a href="order_ticket">티켓결제</a></li>
								<li><a href="order_history">주문내역</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">

						<li class="btn signupLink"><a href="#">sign up</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav><!-- top search form -->
			<div class="top-search"><select>
					<option value="united">TV show</option>
					<option value="saab">Others</option>
				</select><input type="text"
					placeholder="Search for a movie, TV Show or celebrity that you are looking for"></div>
		</div>
	</header><!-- END | Header -->
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>주문하기</h1>
						<ul class="breadcumb">
							<li class="active"><a href="index">Home</a></li>
							<li><span class="ion-ios-arrow-right"></span><a href="order_ticket">Order Ticket Page</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-single movie_list">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p
							th:text="${context.user_id} + ' 님의 ' + ${#lists.size(context.orderItemDtoList)} + '개의 티켓 주문입니다.'">
						</p>
					</div>
					<div class="movie-item-style-2"><img src="images/iugoldenconcert.webp" alt="">
						<div class="mv-item-infor">
							<h6><a href="moviesingle.html">아이유 콘서트 : 더 골든 아워 <span>(2023)</span></a></h6>
							<p class="rate"><i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
							</p>

							<p class="describe">
								데뷔 15주년 기념, <아이유 콘서트 : 더 골든 아워> CGV 개봉!

									한국 여자 가수 최초로 올림픽주경기장에 입성한
									아이유의 단독 콘서트 'The Golden Hour'를 극장에서 만난다!

									전율을 선사한 무반주 오프닝을 시작으로 우리가 사랑한 노래들로 꽉 채워진 셋 리스트,
									올림픽주경기장에 뜬 스트로베리 문 열기구부터 불꽃놀이,
									드론 쇼까지 눈과 귀를 황홀하게 만드는 마법 같은 무대연출!

									레전드 무대와 꽉 찬 라이브로 행복했던 우리들의 ‘골든 아워’
									2023년 9월, 잊지 못할 감동이 스크린에서 펼쳐진다!
							</p>

							<p class="run-time">러닝타임: 2h21’ <span>공연일자: 13 Sep 2023</span></p>
							<p>Director: <a href="#">IU</a></p>
							<p>Stars: <a href="#">Jordan Ayew,</a><a href="#">Andre Ayew,</a><a href="#">Ya Neun Nugu
									Ayew</a></p>
						</div>
					</div>

					<div class="topbar-filter"><label>Tickets per page:</label><select>
							<option value="range">5 Tickets</option>
							<option value="saab">10 Tickets</option>
						</select>
						<div class="pagination2"><span>Page 1 of 2:</span><a class="active" href="#">1</a><a
								href="#">2</a><a href="#"><i class="ion-arrow-right-b"></i></a></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar">
						<div class="searh-form">
							<h4 class="sb-title">결제상세</h4>
							<form class="form-style-1" action="#">
								<div class="row">
									<div class="col-md-12 form-it"><label>티켓명</label><input type="text"
											placeholder="아이유 콘서트 : 더 골든 아워 (2023)"></div>
									<div class="col-md-12 form-it"><label>쿠폰선택</label>
										<div class="group-ip"><select name="skills" multiple=""
												class="ui fluid dropdown">
												<option value="">쿠폰을 선택하세요</option>
												<option value="Action1">쿠폰1</option>
												<option value="Action2">쿠폰2</option>
												<option value="Action3">쿠폰3</option>
											</select></div>
									</div>
									<div class="col-md-12 form-it"><label>할인적용</label>
										<div class="row">
											<div class="col-md-6"><select>
													<option value="range">From</option>
													<option value="number">10</option>
													<option value="number">20</option>
													<option value="number">30</option>
												</select></div>
											<div class="col-md-6"><select>
													<option value="range">To</option>
													<option value="number">20</option>
													<option value="number">30</option>
													<option value="number">40</option>
												</select></div>
										</div>
									</div>
									<div class="col-md-12 form-it"><label>결제금액</label><input type="text"
											placeholder="최종금액"></div>

									<div class="col-md-12 "><input class="submit" type="submit" value="결제하기"></div>
								</div>
							</form>
						</div>
						<div class="ads"><img src="" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer section-->
	<footer class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1"><a href="index.html"><img class="logo" src="images/logo1.png"
							alt=""></a>
					<p>5th Avenue st, manhattan<br> New York, NY 10001</p>
					<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Blockbuster</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Legal</h4>
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Account</h4>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Watchlist</a></li>
						<li><a href="#">Collections</a></li>
						<li><a href="#">User Guide</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Newsletter</h4>
					<p>Subscribe to our newsletter system now <br>to get latest news from us.</p>
					<form action="#"><input type="text" placeholder="Enter your email..."></form><a href="#"
						class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p>© 2017 Blockbuster. All Rights <a href="http://www.bootstrapmb.com/"
						title="bootstrapmb">Reserved</a>. Designed by leehari.</p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</footer><!-- end of footer section-->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>