<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org">


<head><!-- Basic need -->
	<title>Mango>MUSIC DETAIL</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/productTest.css">

</head>

<body><!--preloading-->
	<div th:insert="~{common_header::headerFragment}"></div>
	<!-- END | Header -->

	<div class="musicBackground">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- <h1>movie listing - list</h1><ul class="breadcumb"><li class="active"><a href="#">Home</a></li><li><span class="ion-ios-arrow-right"></span>movie listing</li></ul>-->
				</div>
			</div>
		</div>
	</div>
	<div class="page-single movie-single movie_single">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="movie-img sticky-sb"><img th:src="${findMusic.productImage}"
							src="images/uploads/movie-single.jpg" alt="" style="max-width: 100%">
						<div class="movie-btn">
							<div class="btn-transform transform-vertical red">
								<div><a th:href="${findMusic.productMovie}" href="#" class="item item-1 redbtn"><i
											class="ion-play"></i>뮤비 보기</a>
								</div>
								<div><a th:href="${findMusic.productMovie}"
										href="https://www.youtube.com/embed/o-0hcF97wy0"
										class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
								</div>
							</div>
							
							<script th:inline="javascript">
							document.querySelector(".movie-btn").addEventListener("click", function () {
								let sessionId = [[${userIdString}]];
								if (sessionId == null) {
									alert("로그인이 필요합니다.");
									window.location.replace("user_login_form");
								}
							});

							</script>
							<!-- <div class="btn-transform transform-vertical">
								<div><a href="product_membership_detail" class="item item-1 yellowbtn"><i class="ion-card"></i>멤버십 구매하기</a>
								</div>
								<div><a href="product_membership_detail" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
							</div> -->
							<!-- function 유저 멤버십 유무처리 -->

						</div>
					</div>
				</div>

				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="movie-single-ct main-content">
						<h1 class="bd-hd" th:text="${findMusic.productName}">Skyfall: Quantum of Spectre
						</h1>
						<p th:text="${findMusic.productArtist}" style="margin-bottom: 15px;">2015</p>
						<p th:text="${findMusic.productDate}" style="margin-bottom: 15px;"></p>
						
						<div class="social-btn"><a href="#" class="parent-btn"><i class="ion-headphone"></i>Play Music</a>
						
							<div class="hover-bnt"><a href="#" class="parent-btn"><i class="ion-android-share-alt"
										onclick="copyUrl()"></i>share</a>
								<div class="hvr-item" onclick="copyUrl()"><a href="#" class="hvr-grow"><i
											class="ion-social-facebook"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-twitter"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-googleplus"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-youtube"></i></a></div>
							</div>
						</div>
						
																	
						<script th:inline="javascript">
							document.querySelector(".social-btn").addEventListener("click", function () {
								let sessionId = [[${userIdString}]];
								if (sessionId == null) {
									alert("로그인이 필요합니다.");
									window.location.replace("user_login_form");
								}
								
								var audio1 = new Audio("./css/Baddie.mp3");
								audio1.loop = false; // 반복재생하지 않음
								audio1.volume = 0.5; // 음량 설정
								audio1.play(); // sound1.mp3 재생
								
							});
						</script>
						
						
						</div>
					<div class="title-hd-sm">
						<h4 th:text="|노래 소개|">User reviews</h4><a th:text="| |" href="#" class="time">See All 56 Reviews
							<i class="ion-ios-arrow-right"></i></a>
					</div>
					<div class="movie-rate">
						<div class="rate"><i></i> <!-- <i class="ion-android-star"></i> -->
							<p style="margin-bottom: 50px;">
								<span style="font-size: 15px; color: white;" th:text="${findMusic.productContent}"> 노래
									설명</span>
								<br><!-- <span th:text=" " class="rv">56 Reviews</span> -->
							</p>

						</div>

						<div class="container">
							<div class="row ipad-width">
								<div class="col-md-12">
									<div class="title-hd"></div>
									<div class="videos">
										<div class="slider-for-2 video-ft">
											<div>
												<iframe width="560" height="315" th:src="${findMusic.productMovie}"
													frameborder="0"
													allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
													allowfullscreen>
												</iframe>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="movie-rate" style="margin-top: 90px; margin-bottom: 50px;">
						<div style="margin-bottom:10px;"></div>
						<div class="comments" style="margin-bottom: 50px;">
							<h4 th:text="| 총 ${replyList.size()} 개의 댓글|" style="color: white;">
								Comments</h4>

							<div style="margin-top: 30px;">
								<div class="cmt-item flex-it" th:each="replyList : ${replyList}"
									style="background: #233a50; margin-top: 10px;border: 15px solid #233a50; border-radius: 10px;">
									<img src="images/icons8-account-48.png" alt="">
									<div class="author-infor">
										<div class="flex-it2">
											<!--Name으로 체인지 가능-userinfo-->
											<h6 th:text="${replyList.getUser.getUserName}"
												style="color: white; font-size: 20px;">
												Name
											</h6>
											<span class="time"
												th:text="|[${replyList.getUser.getUserId}]|">userid</span>
											<span class="time"
												th:text="${#temporals.format(replyList.CreDateTime,'yyyy-MM-dd HH:mm')}">
												27 Mar 2017</span>
										</div>
										<p th:text="${replyList.ProductReplyContent}" style="color: white;"> content
										</p>
									</div>

								</div>
							</div>
						</div>


						<div class="comment-form"
							style="color: white;
													 margin-top:30px; margin-bottom: 30px; background-color: #233a50; border: 15px solid #233a50; border-radius: 5px">

							<h4 style="margin-top:15px; margin-bottom: 15px; background-color: #233a50;">댓글쓰기</h4>
							<div style="margin-bottom:20px; border-bottom:10px double #8ab1b5;"></div>
							<form action="">
								<div class="row">
									<div class="col-md-4">
										<input type="text" id="comment_id" placeholder="로그인이 필요합니다" style="font-size: 15px;"
											th:value="${userIdString}">
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<textarea name="message" id="comment_content" placeholder="댓글을 입력하세요"
											style="margin-top: 5px; margin-bottom: 5px; height: 100px;"></textarea>
									</div>
								</div>
								<input class="submit" type="button" value="댓글달기" onclick="create_reply()"
									style="background-color : white; color: #5c5c5c; ">
							</form>
						</div>

						<!-- <div class="comment-form">
							<div class="dropdown-container">
								<div class="row">
									<div class="col-md-6">
										<form action="">
											<input class="submit" type="button" value="수정하기"
												onclick="update_edit_form()" style="margin-left: 200px;">
										</form>
									</div>
									<div class="col-md-6">
										<form id="deleteForm">
											<input class="submit" value="삭제하기" type="button" onclick="deleteForms()"
												style="margin-left: 10%;">
										</form>
									</div>
								</div>

							</div>
						</div>
						 -->

						<a id="topBtn" href="#"><img src="images/upward-arrow-60.png"></a>
					</div>
				</div>
			</div>

			<!-- </div>
</div> -->





			<!-- footer section-->

			<div th:insert="~{common_footer :: footerFragment}"></div>
			<!-- end of footer section-->
</body>


<script type="text/javascript">

	//현재 url 변수로 가져오기
	let nowUrl = window.location.href;

	function copyUrl() {
		//nowUrl 변수에 담긴 주소 받아오기
		navigator.clipboard.writeText(nowUrl).then(res => {
			alert("주소가 복사되었습니다!");
		})
	}

		
	function create_reply() {
		const urlParams = new URLSearchParams(window.location.search);
		const productNo = urlParams.get("productNo");
		console.log(productNo);

		var commentContent = $("#comment_content").val()
		console.log(commentContent);

		var commentId = $("#comment_id").val()
		console.log(commentId);

		const commentData = {
			"productReplytTitle": "댓글타이틀",
			"productReplyContent": commentContent,
			"productNo": productNo,
			"userId": commentId //세션처리 아이디넣으면 자동으로 이름들어옴
		}
			console.log(commentData);
		
		if(commentData.commentId==null){
			alert('로그인이 필요합니다.')
			window.location.replace('user_login_form');
		}		
		
		
		fetch(`/2023-05-JAVA-DEVELOPER-final-project-team1-mango/product_reply_create/${productNo}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(commentData)
		})
			.then(response => {
				if (response.status === 201) {
					alert('댓글 등록되었습니다.');
					// 현재 페이지를 새로 고침
					location.reload();
				} else {
					alert('댓글 등록에 실패했습니다.');
					//alert('에러 발생: ' + error); -> 필요없는 액션

				}
			})
			.catch(error => {
				//alert('에러 발생: ' + error);
			});
	}


</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
<script src="js/product.js"></script>

</html>