<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head><!-- Basic need -->
	<title>Ticket detail</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/productTest.css">
	
</head>

<body><!--preloading-->
	<div th:insert="~{common_header::headerFragment}"></div>
	<!-- END | Header -->
	
	<div class="ticketBackground" style="margin-top: 100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">					
				</div>
			</div>
		</div>
	</div>
	
	<!--티켓 정보시작-->
	<div class="page-single movie-single movie_single">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="movie-img sticky-sb"><img th:src="${findTicket.productImage}" src="images/uploads/movie-single.jpg" alt="" style="max-width: 100%">
					
						<!--뮤비 보기 버튼-->
						<div class="movie-btn">
							<div class="btn-transform transform-vertical red">
								<div><a th:href="${findTicket.productMovie}" href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-1 redbtn"><i class="ion-play"></i>트레일러 보기</a>
								</div>
								<div><a th:href="${findTicket.productMovie}" href="https://www.youtube.com/embed/o-0hcF97wy0"
										class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
								</div>
							</div>
							
						<!--티켓 구매하기 버튼-->			
							<div class="btn-transform transform-vertical">
								<div><a href="order_ticket" class="item item-1 yellowbtn"><i class="ion-card"></i>티켓 구매</a>
								</div>
								<div><a href="order_ticket" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
							</div>
							
						</div>
					</div>
				</div>
				
						<!--티켓 정보표시-->				
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="movie-single-ct main-content">
						<h1 class="bd-hd" th:text="${findTicket.productName}">Skyfall: Quantum of Spectre
					</h1>   <p>참여가수 : <span th:text="${findTicket.productArtist}" style="margin-bottom: 15px;">2015</span></p>
							<p>공연일자 : <span th:text="${findTicket.productDate}" style="margin-bottom: 15px;"></span></p><span>
							<p>티켓가격 : <span th:text="${findTicket.productPrice}" style="margin-bottom: 15px;"></span>원</p>  
							<p>잔여좌석 : <span th:text="${findTicket.productStock}" style="margin-bottom: 15px;"></span>석</p>  
							<p>공연장소 : <span th:text="${findTicket.productAddress}" style="margin-bottom: 15px;"></span></p>  
						<div class="social-btn"><a href="#" class="parent-btn"><i class="ion-heart"></i>Add to
								Favorite</a>
							<div class="hover-bnt"><a href="#" class="parent-btn"><i
										class="ion-android-share-alt"></i>share</a>
								<div class="hvr-item"><a href="#" class="hvr-grow"><i
											class="ion-social-facebook"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-twitter"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-googleplus"></i></a><a href="#" class="hvr-grow"><i
											class="ion-social-youtube"></i></a></div>
								</div>
							</div>
						<!--</div>-->
						<!--티켓 좋아요-->						
						<div class="movie-rate">
							<div class="rate"><i class="ion-android-star"></i>
								<p>추천 개수 : <span th:text="${findTicket.productStar}">8.1</span>명이 추천해주셨습니다.<br><span class="rv">56 Reviews</span></p>
							</div>
						</div>
						
						<!--티켓 상세설명 및 댓글-->
						<div class="movie-tabs">
							<div class="tabs">
								<ul class="tab-links tabs-mv">
									
						<!--티켓 상세설명-->	
								<li class="active"><a href="#overview">상세설명</a></li>
									<li><a href="#reviews">댓글쓰기</a></li>
									<li><a href="#cast"> 아티스트 </a></li>
									<li><a href="#media">관련영상</a></li>
									<li><a href="#media">오시는길</a></li>										
								</ul>
								<div class="tab-content">
									<div id="overview" class="tab active">
								<h3>아티스트 : <span th:text="${findTicket.productArtist}"></span></h3>
								<h2>공연제목 : <span th:text="${findTicket.productName}"></span></h2>
										<img th:src="${findTicket.productImage}" src="images/uploads/movie-single.jpg" alt="" style="max-width: 100%">
										
										<div class="row">
											<div class="col-md-8 col-sm-12 col-xs-12">
												<p><span th:text="${findTicket.productContent}"></span></p>
												</div>
												<div class="title-hd-sm">
												</div>
										</div>
									</div>
				<!--댓글보기-->
									<div id="reviews" class="tab review">
										
										<div class="row">
											<!--<div class="rv-hd">
												<div class="div">
													<h3>Related Movies To</h3>
													<h2>Skyfall: Quantum of Spectre</h2>
												</div><a href="#" class="redbtn">Write Review</a>
											</div>
											<div class="topbar-filter">
												<p>총 <span>N개의</span>댓글</p>
												<select>
													<option value="popularity">최신순</option>
													<option value="popularity">오래된순</option>
												</select>
											</div>
											<div class="mv-user-review-item">
												<div class="user-infor"><img src="images/uploads/userava1.jpg" alt="">
													<div>
														<h3>Comment Title</h3>
														<p class="time"> 작성일자 </p>
													</div>
												</div>
												<p>댓글내용. </p>
											</div>
										</div>
									</div>-->
									<div style="margin-bottom: 30px;">
											<div class="comments" style="margin-top: 20px; margin-bottom: 50px;">
										<h4 style="color: white; border-bottom: 1px solid #233a50;" >
											04 Comments</h4>
										
										<div style="background: #233a50;margin-top: 50px;border: 15px solid #233a50; border-radius: 10px;">
										
											<div class="cmt-item flex-it">
												<img src="images/uploads/author.png" alt="">
												<div class="author-infor">
													<div class="flex-it2">
														<!--Name으로 체인지 가능-userinfo-->
														<h6 style="color: white; font-size: 20px;">
															<a href="#">Steve Perry</a>
														</h6>
														<span class="time"> 27 Mar 2017</span>
													</div>
													<p style="color: white;"> content </p>
												</div>
											</div>	
											</div>
										</div>
									</div>				
									<!--아티스트 보기-->
									
									<div id="cast"  class="tab">
									<div class="row">	
											<h3>아티스트 : <span th:text="${findTicket.productArtist}"></span></h3>
											<h2>공연제목 : <span th:text="${findTicket.productName}"></span></h2>
											<div class="title-hd-sm1">									
										<div class="row">
											<div class="title-hd-sm">
											</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<h4>Artist</h4><a href="#"><span th:text="${findTicket.productArtist}"></span></a>
													</div>
												</div>
											</div>  
											</div>
										</div>
									</div>
				<!--관련영상 보기-->
				<!--https://youtu.be/a9jDYsAsBg0-->
				<!--<p>공연일자 : <span th:text="${findTicket.productName}" style="margin-bottom: 15px;"></span></p><span>	-->			
									<div id="media" class="tab">
										<div class="row">
											<div class="rv-hd">
												<div>
											<h3>아티스트 : <span th:text="${findTicket.productArtist}"></span></h3>
											<h2>공연제목 : <span th:text="${findTicket.productName}"></span></h2>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>트레일러<span></span></h4>
											</div>
											<div class="mvsingle-item media-item">
												<div class="vd-item">
													<div class="vd-it"><img class="vd-img"
															src="images/uploads/vd-item1.jpg" alt=""><a
															class="fancybox-media hvr-grow"
															href="https://www.youtube.com/embed/o-0hcF97wy0"><img
																src="images/uploads/play-vd.png" alt=""></a></div>
													<div class="vd-infor">
														<h6><a href="${findTicket.productMovie}"><span th:text="${findTicket.productName}"></span></a></h6>
														<p class="time">1: 31</p>
													</div>
												</div>
												
											</div>
										
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</div><!-- footer section-->
	
	
	
	
	<div th:insert="~{common_footer :: footerFragment}">
	</div>
</body>
<script>
	function create_reply() {
		const urlParams = new URLSearchParams(window.location.search);
		const productNo = urlParams.get("productNo");

		var commentContent = $("#comment_content").val()
		console.log(commentContent);

		const commentData = {
			"productReplytTitle": "댓글타이틀",
			"productReplyContent": commentContent,
			"productNo": productNo,
			"userId": "myr1109" //세션처리 아이디넣으면 자동으로 이름들어옴
		}
		console.log(commentData);
		fetch(`/2023-05-JAVA-DEVELOPER-final-project-team1-mango/product_reply_create/${productNo}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(commentData)
		})
			.then(response => {
				if (response.status === 201) {
					alert('댓글 등록되었습니다.');
					location.reload(); // 현재 페이지를 새로 고침

				} else {
					alert('댓글 등록에 실패했습니다.');
					alert('에러 발생: ' + error);

				}
			})
			.catch(error => {
				alert('에러 발생: ' + error);
			});


	}

	function deleteForms() {
		const urlParams = new URLSearchParams(window.location.search);
		const productNo = urlParams.get("productNo");

		fetch(`/2023-05-JAVA-DEVELOPER-final-project-team1-mango/product_delete/${productNo}`, {
			method: "DELETE",
		})
			.then((response) => {
				if (response.status === 200) {
					alert("댓글이 삭제되었습니다.");
					alert("메인으로 이동합니다.");
					window.location.href = "/2023-05-JAVA-DEVELOPER-final-project-team1-mango/product_notification";
				} else {
					alert("게시글 삭제에 실패했습니다.");
				}
			})
			.catch((error) => {
				alert("에러발생.")
				console.error("에러:", error);
			})
			.finally(() => {
				// 비활성화된 버튼을 활성화
				deleteButton.disabled = false;
			});

	}

</script>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/product.js"></script>
</html>