<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head><!-- Basic need -->
	<title>Mango>망고굿즈>detail</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/productTest.css">


	<style>
		.quantity-box {
			display: flex;
			align-items: center;
		}

		.quantity-input {
			text-align: center;
			margin: 0 5px;
			background-color: #fff;
			color: #333;
			padding: 8px 12px;
			font-weight: bold;
		}

		.quantity-button {
			cursor: pointer;
			background-color: #fff;
			color: #333;
			padding: 8px 12px;
			font-weight: bold;
		}
	</style>

</head>

<body>
	<div th:insert="~{common_header::headerFragment}"></div>


	<div class="ticketBackground" style="margin-top: 100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>

	<!--굿즈 정보시작-->
	<div class="page-single movie-single movie_single">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="movie-img sticky-sb"><img th:src="${findGoods.productImage}"
							src="images/uploads/movie-single.jpg" alt="" style="max-width: 100%">
						<!--수량조절ui-->
						<div class="quantity-box" style="margin-top: 20px;">
							<div class="quantity-button" onclick="changeQuantity(-1)">-</div>
							<input class="quantity-input" type="text" value="1" id="quantity" readonly>
							<div class="quantity-button" onclick="changeQuantity(1)">+</div>
						</div>

						<!--장바구니 담기 버튼-->
						<div class="movie-btn">
							<div class="btn-transform transform-vertical">
								<div><a th:href="@{/cart_main(productNo=${productNo})}" class="item item-1 yellowbtn"
										onclick="sendPostRequest()">
										<i class="ion-card"></i>장바구니 담기</a>
								</div>
								<div><a th:href="@{/cart_main(productNo=${productNo})}" class="item item-2 yellowbtn"
										onclick="sendPostRequest()">
										<i class="ion-card"></i>장바구니 담기</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--굿즈 정보표시-->
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="movie-single-ct main-content">
						<h1 class="bd-hd" th:text="${findGoods.productName}" style="margin-left: 30%;">Skyfall: Quantum
							of Spectre
						</h1>
						<span>
							<p> <span th:text="${findGoods.productPrice}+'원'"
									style="margin-bottom: 15px; margin-left: 80%; font-size: 30px; color: aqua;"></span>
							</p>
							<!-- content 추가-->
					</div>
				</div>
			</div>
		</div>

		<div th:insert="~{common_footer :: footerFragment}"></div>

</body>
<script>

	function sendPostRequest() {
		const writeData = {
			"cartItemId": 0,
			"cartItemQty": 10,
			"cartId": 5,
			"productId": 151,
		};
		alert(writeData.cartId); // 수정
		alert(writeData.cartItemQty); // 수정

		fetch('/2023-05-JAVA-DEVELOPER-final-project-team1-mango/cart_main/create', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(writeData),
		})
			.then(response => {
				if (response.ok) {
					return response.json();
				}
				throw new Error('장바구니 추가 실패');
			})
			.then(data => {
				alert('장바구니 추가 성공:', data);
				// 여기에 추가로 필요한 로직 작성 가능
			})
			.catch(error => {
				console.error('에러 발생:', error);
				alert('장바구니 추가 실패: ' + error.message); // 사용자에게도 실패 메시지를 보여줍니다.
				// 에러 처리 로직 작성 가능
			});


	}


	//수령조절
	function changeQuantity(amount) {
		var quantityInput = document.getElementById('quantity');
		var currentValue = parseInt(quantityInput.value);

		// Ensure that the quantity does not go below 1
		if (currentValue + amount >= 1) {
			quantityInput.value = currentValue + amount;
		}
	}

</script>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>

</html>