<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head>
<!-- Basic need -->
<title>Open Pediatrics</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link rel="profile" href="#">
<!--Google Font-->
<link rel="stylesheet"
	href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
<!-- Mobile specific meta -->
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone-no">
<!-- CSS files -->
<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<!-- BEGIN | Header -->
	<div th:insert="~{common_header :: headerFragment}"></div>
	<!-- END | Header -->
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img">
							<a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
						</div>
						<div class="user-fav">
							<p>Details</p>
							<ul>
								<li><a href="user_info_form">내정보</a></li>
								<li class="active"><a href="user_modify_form">회원정보수정</a></li>
								<li><a href="cart_main">나의 장바구니</a></li>
								<li><a href="order_history">나의 주문내역</a></li>
								<li><a href="#">logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="form-style-1 user-pro" action="">
						<form action="" class="password" th:object="${loginUser}"
							method="post">
							<h4>02. 회원정보수정</h4>
							<div class="row">
								<div class="col-md-6 form-it">
									<label>UserName</label><input type="text"
										placeholder="**********" th:value="${loginUser.userName}">
								</div>
								<div class="col-md-6 form-it">
									<label>UserPassword</label><input type="text"
										placeholder="***************" th:value="${loginUser.userPw}">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it">
									<label>UserPhone</label><input type="text"
										placeholder="**********" th:value="${loginUser.userPhone}">
								</div>
								<div class="col-md-6 form-it">
									<label>UserAddress</label><input type="text"
										placeholder="***************"
										th:value="${loginUser.userAddress}">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it">
									<label>UserEmail</label><input type="text"
										placeholder="**********" th:value="${loginUser.userEmail}">
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<input class="submit" type="submit" value="change" onclick="updateUser()">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer section-->
	<div th:insert="~{common_footer :: footerFragment}"></div>
	<!-- end of footer section-->


	<script>
	function updateUser() {
	    // 사용자가 수정한 데이터 가져오기
	    var userName = document.getElementById("userName").value;
	    var userPw = document.getElementById("userPw").value;
	    var userPhone = document.getElementById("userPhone").value;
	    var userAddress = document.getElementById("userAddress").value;
	    var userEmail = document.getElementById("userEmail").value;

	    // 수정할 데이터를 JSON 형식으로 만들기
	    var userData = {
	        userName: userName,
	        userPw: userPw,
	        userPhone: userPhone,
	        userAddress: userAddress,
	        userEmail: userEmail
	    };

	    // 서버로 데이터 전송
	    fetch('/2023-05-JAVA-DEVELOPER-final-project-team1-mango/user/{userId}', {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/json'
	        },
	        body: JSON.stringify(userData)
	    })
	    .then(response => response.json())
	    .then(updatedUserData => {
	        // 수정된 데이터를 화면에 업데이트
	        document.getElementById("userName").value = updatedUserData.userName;
	        document.getElementById("userPw").value = updatedUserData.userPw;
	        document.getElementById("userPhone").value = updatedUserData.userPhone;
	        document.getElementById("userAddress").value = updatedUserData.userAddress;
	        document.getElementById("userEmail").value = updatedUserData.userEmail;

	        // 성공 메시지 또는 리디렉션을 처리 (필요에 따라)
	    })
	    .catch(error => {
	        console.error('에러:', error);
	        // 에러 메시지 처리 (필요에 따라)
	    });
	}

	</script>



	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>