<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Basic need -->
	<title>Mango>로그인</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<script th:inline="javascript">
		/*<![CDATA[*/
		// URL 파라미터에서 msg와 url 값을 읽어옴
		var msg = /*[[${param.msg}]]*/ '';

		// msg가 존재하는 경우에만 실행
		if (msg) {
			alert(msg);
		}
        /*]]>*/
	</script>

	<!--preloading-->
	<div th:insert="~{common_header :: headerFragment}"></div>

	<!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom"></nav>
	</header>
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img">
							<a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
							<!-- <li class="loginLink"><a href="#" class="redbtn" id="loginㅁㄴㅇLink">로그인</a></li> -->
							<!--end of preloading-->
							<!--login form popup-->
							<div class="login-wrapper" id="login-content">
								<div class="login-content">
									<a href="#" class="close">x</a>
									<h3>Login</h3>
									<form method="post" action="user_login_action">
										<div class="row">
											<label for="loginId">UserId:<input type="text" name="loginId" id="loginId"
													placeholder="아이디" required="required" /></label>
										</div>
										<div class="row">
											<label for="password"> Password:<input type="password" name="password"
													id="password" placeholder="비밀번호" required="required" /></label>
										</div>
										<div class="row">
											<div class="remember">
												<a href="user_write_form">회원가입하기</a>
											</div>
											<div class="remember">
												<a href="userCheckIdPw">아이디찾기 / 비밀번호찾기</a>
											</div>
										</div>
										<div class="row">
											<button type="submit" id="loginButton">Login</button>
										</div>
									</form>
									<div class="row">
										<p>Or via social</p>
										<div class="social-btn-2">
											<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a><a
												class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end of login form popup-->
						<div class="user-fav">
							<ul>
								<li class="active"><a href="user_login_form">01. 로그인</a></li>
								<li><a href="user_write_form">02. 회원가입</a></li>
								<li><a href="user_CheckIdPw">03. 아이디, 비번찾기</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="form-style-1 user-pro" action="">
						<form name="f" method="post" th:object="${sUserId}">
							<h4>01. LoginInfo</h4>
							<div class="row">
								<div class="col-md-6 form-it">
									<label>UserId</label> <input type="text" id="userId" name="userId"
										placeholder="아이디를 입력하세요." required="required">
								</div>
								<div class="col-md-6 form-it">
									<label>UserPassword</label> <input type="password" id="userPw" name="userPw"
										placeholder="비밀번호를 입력하세요." required="required">

								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									<!-- Submit button -->
									<input class="submit" id="loginbutton" type="button" value="로그인"
										onclick="loginForm()">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{common_footer :: footerFragment}"></div>
	<!-- end of footer section-->

	<script th:inline="javascript">
		function loginForm() {
			var formData = {
				userId: document.getElementById("userId").value,
				userPw: document.getElementById("userPw").value
			};
			
			// 각 필드의 유효성 검사
			if (!formData.userId) {
				alert('아이디를 입력하세요.');
				return;
			}
			if (!formData.userPw) {
				alert('비밀번호를 입력하세요.');
				return;
			}
			
			// Send form data to the server
			fetch('/2023-05-JAVA-DEVELOPER-final-project-team1-mango/user/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(formData)
			})
				.then(response => {
					if (response.status === 200) {
						alert('로그인이 성공적으로 완료되었습니다.');
						window.location.href = "index"; // 로그인 성공 시 리디렉션할 페이지

					} else if (response.status === 401) {
						alert('비밀번호가 틀렸습니다.');
					} else if (response.status === 500) {
						alert('아이디 및 비밀번호가 틀렸습니다');
					} else {
						alert('없는 아이디입니다.');
					}
				})
				.catch(error => {
					console.error('에러:', error);
				});
		}
	</script>

	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>