<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head><!-- Basic need -->
	<title>Mango>회원정보</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">

	<!--Bootstrap CSS
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	Bootstrap JS and Popper.js
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>

<body>
	<!-- BEGIN | Header -->
	<div th:insert="~{common_header :: headerFragment}"></div>
	<!-- END | Header -->
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img"><a href="#"><img src="images/uploads/user-img.png" alt=""><br></a></div>
						<div class="user-fav">
							<p>Details</p>
							<ul>
								<li class="active"><a href="user_info_form">내정보</a></li>
								<li><a href="user_modify_form">회원정보수정</a></li>
								<li><a href="cart_main" id="cartForm">나의 장바구니</a></li>
								<li><a href="order_history" id="orderForm">나의 주문내역</a></li>
								<li><a href="user_userList_form" id="UserListForm">회원 목록</a></li>
								<li><a href="user_order_info_form" id="OrderListForm">주문 목록</a></li>
								<li><a href="user_inq_info_form" id="InquiryListForm">문의 목록</a></li>
								<li><a href="#" data-toggle="modal" data-target="#withdrawalModal"
										id="userDelete">회원탈퇴</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 모달 창 -->
				<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog"
					aria-labelledby="withdrawalModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="withdrawalModalLabel">회원 탈퇴를 원하십니까?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<label for="password">비밀번호를 입력하세요:</label>
								<input type="password" id="password" placeholder="비밀번호">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary"
									onclick="confirmWithdrawal()">회원탈퇴</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 모달 창 끝 -->

				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="form-style-1 user-pro" action="">
						<form action="" class="user" th:object="${loginUser}" method="post">
							<h4>01. 회원정보</h4>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserId</label><input type="text" placeholder="아이디"
										id="userId" th:value="*{userId}"></div>
								<div class="col-md-6 form-it"><label>UserPassword</label><input type="text"
										placeholder="비밀번호" id="userPw" th:value="*{userPw}"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserName</label><input type="text" placeholder="이름"
										id="userName" th:value="*{userName}"></div>
								<div class="col-md-6 form-it"><label>UserPhone</label><input type="text"
										placeholder="전화번호" id="userPhone" th:value="*{userPhone}"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserEmail</label><input type="text"
										placeholder="이메일" id="userEmail" th:value="*{userEmail}"></div>
								<div class="col-md-6 form-it"><label>UserJumin</label><input type="text"
										placeholder="주민번호" id="userJumin" th:value="*{userJumin}"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserAddress</label><input type="text"
										placeholder="주소" id="userAddress" th:value="*{userAddress}"></div>
								<div class="col-md-6 form-it"><label>UserGender</label><input type="text"
										placeholder="주소" id="userGender" th:value="*{userGender}"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer section-->
	<div th:insert="~{common_footer :: footerFragment}">
	</div><!-- end of footer section-->

	<script>
		function confirmWithdrawal() {
			// 로그인 한 유저의 아이디
			var userId = document.getElementById("userId").value;
			console.log("아이디:" + userId);

			// 로그인 한 유저의 비밀번호
			var userPw = document.getElementById("userPw").value;
			console.log("비번:" + userPw);

			// 모달에서 입력한 비밀번호 값
			var enteredPassword = document.getElementById("password").value;
			console.log("모달입력값:" + enteredPassword);

			// 비밀번호 입력 확인
			if (!enteredPassword) {
				alert("비밀번호를 입력하세요.");
				return;
			}

			// 비밀번호 확인
			if (userPw === enteredPassword) {
				//	$("#withdrawalButton").prop("disabled", true);

				$.ajax({
					url: `/2023-05-JAVA-DEVELOPER-final-project-team1-mango/user/delete/${userId}`,
					method: 'DELETE',
					success: function (data) {
						alert("회원 탈퇴 성공!");
						closeWithdrawalModal();
					},
					error: function (error) {
						alert("회원 탈퇴 실패. 다시 시도해주세요.");
						console.error("Error deleting user:", error);
					},
					complete: function () {
						// 비동기 처리 완료 후 버튼 활성화
						$("#withdrawalButton").prop("disabled", false);
					}
				});
			} else {
				alert("비밀번호가 일치하지 않습니다. 다시 시도해주세요.");
			}
		}

		function closeWithdrawalModal() {
			// 모달 닫기
			$('#withdrawalModal').modal('hide');
			window.location.href = "user_login_form";
		}

	</script>

	<script>
		// 페이지 로드 시 실행되는 함수
		window.onload = function () {
			// admin 계정으로 로그인한 경우
			if (isAdminUser()) {
				hideCartForm(); // 나의 장바구니 폼을 숨김

				hideOrderForm(); // 나의 주문내역 폼을 숨김

				showUserListForm(); // 회원 목록 폼을 보임

				showOrderListForm(); // 주문 목록 폼을 보임

				showInquiryListForm(); //문의 목록 폼을 보임

			}
			if (!isAdminUser()) {
				hideUserListForm(); // 회원 목록 폼을 숨김

				hideOrderListForm();// 주문 목록 폼을 숨김

				hideInquiryListForm();// 문의 목록 폼을 숨김
			}
		};

		// admin 계정 여부를 확인하는 함수
		function isAdminUser() {
			var userId = document.getElementById("userId").value;
			return userId === 'admin';
		}

		// 나의 장바구니 폼을 숨기는 함수
		function hideCartForm() {
			var cartForm = document.getElementById("cartForm");
			if (cartForm) {
				cartForm.style.display = 'none';
			}
		}
		// 나의 주문내역 폼을 숨기는 함수
		function hideOrderForm() {
			var orderForm = document.getElementById("orderForm");
			if (orderForm) {
				orderForm.style.display = 'none';
			}
		}

		// 회원 목록 폼을 보이게 하는 함수
		function showUserListForm() {
			var UserListForm = document.getElementById("UserListForm");
			if (UserListForm) {
				UserListForm.style.display = 'block';
			}
		}

		// 회원 목록 폼을 숨기는 함수
		function hideUserListForm() {
			var UserListForm = document.getElementById("UserListForm");
			if (UserListForm) {
				UserListForm.style.display = 'none';
			}
		}

		// 주문 목록 폼을 보이게 하는 함수
		function showOrderListForm() {
			var OrderListForm = document.getElementById("OrderListForm");
			if (OrderListForm) {
				OrderListForm.style.display = 'block';
			}
		}

		// 주문 목록 폼을 숨기는 함수
		function hideOrderListForm() {
			var OrderListForm = document.getElementById("OrderListForm");
			if (OrderListForm) {
				OrderListForm.style.display = 'none';
			}
		}

		// 문의 목록 폼을 보이게 하는 함수
		function showInquiryListForm() {
			var InquiryListForm = document.getElementById("InquiryListForm");
			if (InquiryListForm) {
				InquiryListForm.style.display = 'block';
			}
		}

		// 문의 목록 폼을 숨기는 함수
		function hideInquiryListForm() {
			var InquiryListForm = document.getElementById("InquiryListForm");
			if (InquiryListForm) {
				InquiryListForm.style.display = 'none';
			}
		}

	</script>


	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/user.js"></script>
</body>

</html>