<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head><!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body><!--preloading-->
	<div id="preloader"><img class="logo" src="images/logo1.png" alt="" width="119" height="58">
		<div id="status"><span></span><span></span></div>
	</div><!--end of preloading--><!--login form popup-->
	<!--end of login form popup--><!--signup form popup-->
	<div class="login-wrapper" id="signup-content">
		<div class="login-content"><a href="#" class="close">x</a>
			<h3>sign up</h3>
			<form method="post" action="signup.php">
				<div class="row"><label for="username-2">Username:<input type="text" name="username" id="username-2"
							placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
							required="required" /></label></div>
				<div class="row"><label for="email-2"> your email:<input type="password" name="email" id="email-2"
							placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="password-2"> Password:<input type="password" name="password"
							id="password-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><label for="repassword-2"> re-type Password:<input type="password" name="password"
							id="repassword-2" placeholder=""
							pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
							required="required" /></label></div>
				<div class="row"><button type="submit">sign up</button></div>
			</form>
		</div>
	</div><!--end of signup form popup--><!-- BEGIN | Header -->
	<header class="ht-header">
      <div class="container">
         <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
               <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
                     class="sr-only">Toggle navigation</span>
                  <div id="nav-icon1"><span></span><span></span><span></span></div>
               </div><a href="index"><img class="logo" src="images/logo1.png" alt="" width="119"
                     height="58"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav flex-child-menu menu-left">
                  <li class="hidden"><a href="#page-top"></a></li>
                  <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1"
                        data-toggle="dropdown">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                     <ul class="dropdown-menu level1">
                        <li><a href="index">mango music</a></li>
                     </ul>
                  </li>
                  <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 멜론차트<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="moviesingle.html">TOP100</a></li>
								<li><a href="movielist.html">최신음악</a></li>
								<li><a href="moviesingle.html">장르음악</a></li>
							</ul>
						</li>
                  <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">

								<li><a href="moviesingle.html">망고티켓</a></li>
								<li><a href="movielist.html">망고굿즈</a></li>
								<li><a href="moviesingle.html">멤버쉽</a></li>
							</ul>
						</li>
                  <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 뮤직어워드 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="voteMain">뮤직어워드</a></li>
							</ul>
						</li>
						<li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
								data-hover="dropdown"> 게시판 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu level1">
								<li><a href="notification">공지사항</a></li>
								<li><a href="faq">FAQ</a></li>
								<li><a href="magazine">magazine</a></li>
								<li><a href="inquiries">1대1문의</a></li>
								<li><a href="event">이벤트</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="btn signupLink"><a href="#">sign up</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
	</header><!-- END | Header -->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>user님의 profile</h1>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img"><a href="#"><img src="images/uploads/user-img.png" alt=""><br></a></div>
						<div class="user-fav">
							<p>Details</p>
							<ul>
								<li><a href="user_view">내정보</a></li>
								<li class="active"> <a href="user_modify_form">회원정보수정</a></li>
								<li><a href="user_cart">나의 장바구니</a></li>
								<li><a href="orderdetail">나의 주문내역</a></li>
								<li><a href="#">logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="form-style-1 user-pro" action="">
						<form action="" class="password">
							<h4>02. 회원정보수정</h4>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserName</label><input type="text"
										placeholder="**********"></div>
								<div class="col-md-6 form-it"><label>UserPassword</label><input type="text"
										placeholder="***************"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserPhone</label><input type="text"
										placeholder="**********"></div>
								<div class="col-md-6 form-it"><label>UserAddress</label><input type="text"
										placeholder="***************"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserEmail</label><input type="text"
										placeholder="**********"></div>
							</div>
							
							<div class="row">
								<div class="col-md-2"><input class="submit" type="submit" value="change"></div>
							</div>
						</form>s
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer section-->
	<div th:insert="~{footer :: footerFragment}">
   </div><!-- end of footer section-->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>