<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]--><!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head><!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#"><!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no"><!-- CSS files -->
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<!-- BEGIN | Header -->
	<div th:insert="~{header :: headerFragment}"></div>
	<!-- END | Header -->
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img"><a href="#"><img src="images/uploads/user-img.png" alt=""><br></a></div>
						<div class="user-fav">
							<p>Details</p>
							<ul>
								<li class="active"><a href="user_info_form">내정보</a></li>
								<li><a href="user_modify_form">회원정보수정</a></li>
								<li><a href="cart">나의 장바구니</a></li>
								<li><a href="order_history">나의 주문내역</a></li>
								<li><a href="#">logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="form-style-1 user-pro" action="">
						<form action="" class="user">
							<h4>01. 회원정보</h4>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserId</label><input type="text" placeholder="아이디"
										id="userId"></div>
								<div class="col-md-6 form-it"><label>UserPassword</label><input type="text"
										placeholder="비밀번호" id="userPw"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserName</label><input type="text" placeholder="이름"
										id="userName"></div>
								<div class="col-md-6 form-it"><label>UserPhone</label><input type="text"
										placeholder="전화번호" id="userPhone"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserEmail</label><input type="text"
										placeholder="이메일" id="userEmail"></div>
								<div class="col-md-6 form-it"><label>UserJumin</label><input type="text"
										placeholder="주민번호" id="userJumin"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-it"><label>UserAddress</label><input type="text"
										placeholder="주소" id="userAddress"></div>
								<div class="col-md-6 form-it"><label>UserGender</label><select id="userGender">
										<option value="united">남</option>
										<option value="saab">여</option>
									</select></div>
							</div>
							<div class="row">
								<div class="col-md-2"><input class="submit" type="submit" value="save"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer section-->
	<div th:insert="~{footer :: footerFragment}">
	</div><!-- end of footer section-->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// 사용자 정보를 가져오는 요청을 보냅니다.
			fetch("/user/" + userId, {
				method: "GET",
				headers: {
					"Accept": "application/json",
					"Content-Type": "application/json"
				}
			})
				.then(response => {
					if (response.status === 200) {
						return response.json();
					} else {
						throw new Error("User not found");
					}
				})
				.then(user => {
					// 사용자 정보를 화면에 표시합니다.
					document.querySelector("#userId").textContent = user.userId;
					document.querySelector("#userPw").textContent = user.userPw;
					document.querySelector("#userName").textContent = user.userName;
					document.querySelector("#userPhone").textContent = user.userPhone;
					document.querySelector("#userEmail").textContent = user.userEmail;
					document.querySelector("#userJumin").textContent = user.userJumin;
					document.querySelector("#userAddress").textContent = user.userAddress;
					document.querySelector("#userGender").textContent = user.userGender;

				})
				.catch(error => {
					console.error("Error:", error);
					// 사용자 정보를 가져오지 못한 경우 에러 메시지를 표시하거나 리디렉션을 수행할 수 있습니다.
				});
		});
	</script>
</body>

</html>