<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Manggo MusicAward</title>
<link rel="stylesheet" href="css/voteMain.css" type="text/css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
</style>
</head>
<body>
    <!-- Header 삽입 필요 !!-->


     <!-- 상 이름 리스트 -->
     <div class="awardList">
        <a class="logo" href="">
         <img src="logo/logo.png" height="40px">
        </a>
        <ul>
            <li><a href="">월간 인기상</a></li>
            <li><a href="">연간 인기상</a></li>
          </ul>
    </div>
    <!-- 상 이름 리스트--> 

    <!-- 각 월 선택-->
    <div class="select_Month">
        <ul>
            <li><a href="">10월</a></li>
            <li><a href="">11월</a></li>
          </ul>
    </div>
    <!-- 각 월 선택 종료-->  

   
  
   <!-- show_Vote_Summary >> 투표 주차 및 남은시간 전체 -->
   <div class="show_Vote_Summary">
    <!-- 투표 주차 안내-->
    <div class="area">
		<div class="sec-title">
				<h2>
		    		<span class="term_month_no">10</span>
			    	<span class="term_month_text">월</span>
					<span class="term_week_no">4</span>
					<span class="term_week_text">주차</span>
					<p style="margin-top: 0px;">Manggo 인기상 투표시작</p>
				</h2>
		</div>
    </div>    
    <!-- 투표 주차 안내 종료-->


    <!-- 남은 시간 안내 __>  js로 날짜 카운트 구현할 예정-->
    
    <div class="area">
		<div class="voteInfo-area">
				<div class="col-closing-time">
					<a>남은시간</a>
					<div class="timeCount">
                        <span class="num-wrap">
                            <span class="num0">0</span>
                            <span class="num4">4</span>
                        </span>
                        <span class="txt-day">일</span>
                        <span class="num-wrap">
                            <span class="num0">0</span>
                            <span class="num7">7</span>
                        </span>
                        <span class="txt-clock">시간</span>
                        <span class="num-wrap">
                            <span class="num5">5</span>
                            <span class="num4">4</span>
                        </span>
                        <span class="txt-clock">분</span>
                        <span class="num-wrap">
                            <span class="num3">3</span>
                            <span class="num8">8</span>
                        </span>
                    </div>
				</div>

				<div class="col-participate">
                    <a>투표수</a>
					<div class="voteTot">
                           <span class="n2">2</span>
                           <span class="n0">0</span>
                           <span class="n7">7</span>
                           <span class="nc">,</span>
                           <span class="n0">0</span>
                           <span class="n4">4</span>
                           <span class="n1">1</span>
                    </div>
				</div>					
		</div>
	</div>
    <!-- 남은 시간 안내 __>  js로 날짜 카운트 구현할 예정-->
 </div>

<!-- 1위 2위 배틀 -->
<div class="battle">
    <div class="battle_img_left">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>1위
        <a class="battle_left_name">임영웅</a>
        <a id="Rank1_Tot_percentage">57%</a>
        </h1>
        <div class="battle_totPercent">
            <a>노래제목</a>
            <a id="Rank1_Tot">11,501</a>
            <a id="Rank1_Tot_text">득표</a>
        </div>    
        <button class="choose-btn">투표하기</button>
    </div>


    <h3 class="or">VS</h3>
    
    <div class="battle_img_right">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/25/987/725987_20230927151422_500.jpg">
        <h1>1위
            <a class="battle_right_name">정국</a>
            <a id="Rank2_Tot_percentage">57%</a>
        </h1>
        <div class="battle_totPercent">
            <a>노래제목</a>
            <a id="Rank2_Tot">10,021</a>
            <a id="Rank2_Tot_text">득표</a>
        </div>

        <button class="choose-btn">투표하기</button>
    </div>
</div>

<!-- 1위 2위 배틀종료-->



<!-- 1위~20위 시작-->
<div class="battle_list">

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>1위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage1"> </div>
            </div>
        </div>
        <p>1110 득표</p>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/007/25/987/725987_20230927151422_500.jpg">
        <h1>2위
        <a class="battle_1st_name">정국</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>60%</a>        
            <div class="percentage-bar">
                <div class="percentage2"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/026/32/253/2632253_20231013103136_500.jpg">
        <h1>3위
        <a class="battle_1st_name">투모로우바이투게더</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>4위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>5위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>6위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>7위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>8위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>9위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>10위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    

    
    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>11위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>12위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>
    


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>13위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>



    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>14위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>15위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>

    

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>16위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>


    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>17위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>18위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>



    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>19위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>

    <div class="battle_rank">
        <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/009/94/944/994944_20231006163709_500.jpg">
        <h1>20위
        <a class="battle_1st_name">임영웅</a>
        </h1>
        <h3>노래제목</h3>
        <div class="vote_percentage-bar">
            <a>70%</a>        
            <div class="percentage-bar">
                <div class="percentage"> </div>
            </div>
        </div>
        <button class="choose-btn">투표하기</button>    
    </div>





</div>

<!-- 1위~20위 종료-->

</body>
</html>