<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Manggo MusicAward</title>
	<link rel="stylesheet" href="css/voteMain.css" type="text/css">
	<link rel="stylesheet" href="css/vote_best.css" type="text/css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	</style>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/vote.js"></script>
</head>

<body>

	<!-- 상 이름 리스트 -->



	<div class="awardList">
		<a class="logo" href="index"> <img src="images/mango_logo2.png" height="40px"></a>

		<div id="menu">
			<ul>
				<li><a href="#">주간 인기상</a>
					<ul>
						<li><a href="#" onclick="voteEnd()">11월 1주</a></li>
						<li><a href="productVote">11월 2주</a></li>
						<li><a href="#" onclick="votePreparing()">11월 3주</a></li>
						<li><a href="#" onclick="votePreparing()">11월 4주</a></li>
					</ul>
				</li>

				<li><a href="#">월간 인기상</a>
					<ul>
						<li><a href="#" onclick="voteEnd()">9월</a></li>
						<li><a href="#" onclick="voteEnd()">10월</a></li>
						<li><a href="#" onclick="votePreparing()">11월</a></li>
					</ul>
				</li>

				<li><a href="#">히스토리</a>
					<ul>
						<li><a href="bestAward">베스트상</a></li>
						<li><a href="specialAward">특별상</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="login">
			<ul>
				<li th:if="${loginUser == null}">
					<a href="user_login_form">로그인</a>
				</li>
				<li th:if="${loginUser != null}">
					<a href="user_logout_action" th:text="${loginUser.userId + ' 님 로그아웃'}">로그아웃</a>
				</li>
				<li th:if="${loginUser == null}">
					<a href="user_write_form">회원가입</a>
				</li>
			</ul>
		</div>

	</div>

	<!-- 베스트상 시작 -->
	<h1 id="bestAward_Title">베스트상</h1>
	<div id="vote_bestAward">
		
		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/resource/image/cds/musicstory/imgUrl20220502040300921.jpg/melon/optimize/90"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold;">베스트 솔로 남자</div>
			<div style="text-align: center;">임영웅</div>
		</div>

		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_500.jpg?61e575e8653e5920470a38d1482d7312/melon/resize/416/quality/80/optimize"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold;">베스트 솔로 여자</div>
			<div style="text-align: center;">아이유</div>
		</div>
		
		
		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/006/72/375/672375_20230615142615_500.jpg?cbe47503c66984409940fb910ffbfe15/melon/resize/416/quality/80/optimize"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold;">베스트 남자 그룹</div>
			<div style="text-align: center;">방탄소년단</div>
		</div>

		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/030/55/146/3055146_20231013113531_500.jpg?0e566ba6e62e36c713375aa363f4b9ef/melon/resize/416/quality/80/optimize"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold;">베스트 여자그룹</div>
			<div style="text-align: center;">아이브</div>
		</div>

		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/008/38/654/838654_20230331115239_500.jpg?6bfa8741adc67dbf164d91f432212b3c/melon/resize/416/quality/80/optimize"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold;">베스트 팝가수</div>
			<div style="text-align: center;">Charlie Puth</div>
		</div>

		<div id="vote_bestAward_Artist">
			<a><img src="https://cdnimg.melon.co.kr/cm2/album/images/108/71/162/10871162_20220217162422_500.jpg?d77ecb572464fd179c5e963a6fe0a351/melon/resize/282/quality/80/optimize"></a>
			<div style="text-align: center; font-size: 20px; margin-bottom: 5px; color: #FFBB00; font-weight: bold; ">베스트 OST</div>
			<div style="text-align: center;">멜로망스 - 사랑인가 봐</div>
		</div>
		
		
	</div>


	<!-- 베스트상 종료-->





</body>

</html>